<div>
  <h1>Registro de usuario</h1>
  <div class="w-full flex flex-col items-center">
    <form [formGroup]="userRegisterForm" class="input-container">
      <div>
        <label>Nombre</label>
        <input type="text" max="255" formControlName="username">
      </div>
      <div>
        <label>Email</label>
        <input type="text" max="255" formControlName="email">
      </div>
      <div>
        <label>Teléfono móvil</label>
        <input type="text" max="255" formControlName="phone">
      </div>
      <div>
        <label>Contraseña</label>
        <input type="password" max="255" formControlName="password">
      </div>
      <div>
        <label>Género</label>
        <input type="text" max="255" formControlName="gender">
      </div>
      <div>
        <label>Orientación Sexual</label>
        <input type="text" max="255" formControlName="genderPreference">
      </div>
      <div>
        <label>Fecha de nacimiento</label>
        <input type="date" max="255" formControlName="birthDate">
      </div>
      <div>
        <label>Localización</label>
        <input type="text" max="255" formControlName="location">
      </div>
      <div>
        <label>Diet</label>
        <select formControlName="preference">
          <option disabled selected value>Select your diet preference</option>
          @for (diet of diets; track $index) {
            <option [value]="diet">{{ diet | titlecase }}</option>
          }
        </select>
      </div>
      <div>
        <label>Preference</label>
        <select formControlName="dietType">
          <option disabled selected value>Select your relationship preference</option>
          @for (preference of preferences; track $index) {
            <option [value]="preference.value">{{ preference.label }}</option>
          }
        </select>
      </div>
      <div>
        <label>Descripción</label>
        <textarea type="text" max="1024" formControlName="description"></textarea>
      </div>
    </form>
    <button (click)="sendForm()">Registrarse</button>
  </div>
</div>
