<div>
  <h1>Create Event</h1>
  <div class="w-full flex flex-col items-center">
    <form [formGroup]="form" class="input-container">
      <div>
        <label>Description</label>
        <textarea type="text" max="1024" formControlName="description"></textarea>
      </div>
      <div>
        <label>DateTime</label>
        <input type="datetime-local" formControlName="dateTime">
      </div>
      <div>
        <label>Location</label>
        <input type="text" max="255" formControlName="location">
      </div>
      <div>
        <label>Cooking Categories</label>
        <select formControlName="cookingCategories" multiple>
          <option disabled selected value>Select the cooking categories of the event</option>
          @for (option of cookingCategories; track $index) {
            <option [value]="option.value">{{ option.label }}</option>
          }
        </select>
      </div>
      <div>
        <label>Maximum number of attendees</label>
        <input type="number" formControlName="maxAttendees">
      </div>
      <div>
        <label>Event Privacy</label>
        <select formControlName="privacy">
          <option disabled selected value>Select the privacy of the event</option>
          @for (option of privacyOptions; track $index) {
            <option [value]="option.value">{{ option.label }}</option>
          }
        </select>
      </div>
    </form>
    <button (click)="sendForm()">Create Event</button>
  </div>
</div>
